Jupyter Notebook for dataset preprocessing for 'dreamsss' dataset.

In [4]:
#Import statements
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import math
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay, precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split, cross_val_score

In [5]:
dreams = pd.read_csv('dreams_dataset.csv')
print(dreams.shape)
dreams.head(10)

(21000, 21)

,dream_id,dreamer,description,dream_date,dream_language,text_dream,characters_code,emotions_code,aggression_code,friendliness_code,...,Male,Animal,Friends,Family,Dead&Imaginary,Aggression/Friendliness,A/CIndex,F/CIndex,S/CIndex,NegativeEmotions
0,1,alta,Alta: a detailed dreamer,1957,en,"The one at the Meads's house, where it's bigge...","2ISA, 1MKA, 1FDA, 1IOA, 2ISA",NaN,2IKA > Q,2IKA 4> Q,...,0.500000,0.000000,0.200000,0.200000,0.0,0.000000,0.200000,0.200000,0.0,0.0
1,2,alta,Alta: a detailed dreamer,8/11/1967,en,I'm at a family reunion in a large fine house ...,"2ISA, people, 2ISA",SD 2IKA,"D > Q, Q > 2ISA",NaN,...,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.666667,0.000000,0.0,1.0
2,3,alta,Alta: a detailed dreamer,8/1/1985,en,I watch a plane fly past and shortly realize i...,"2ISA, 2ISA, 1FSA, 1MBA, 1IOA, 2ISA, 2FDA","SD 1ISA, AP D, AP D","It PRP >, It PRP >, D > 1FKA",NaN,...,0.333333,0.000000,0.000000,0.285714,0.0,1.000000,0.428571,0.000000,0.0,1.0
3,4,alta,Alta: a detailed dreamer,1985?,en,Me pulling the green leaves and berries off so...,"1MAA, 1FMA, 2ISA, 2IKA, 1ANI, 1ANI, 1IOA, 2ISA...","SD 2ISA, SD D","Q > Q, 2ISA > Q, 2ISA > Q, D > 1MSA","1IKA 4> Q, 2ISA 4> 2ISA",...,0.666667,0.176471,0.142857,0.142857,0.0,1.000000,0.235294,0.117647,0.0,1.0
4,5,alta,Alta: a detailed dreamer,1985?,en,I'm in a room that reminds me of (but definite...,"1IRA, 1MSA, 1ISA, 2ISA, 1ISA, 1IKA","AP D, AP D, AP 1MSA, CO D, SD D, AP D","1MSA > D, Q > Q, D > 2IKA, D > 2IKA, D > 1MSA,...",D 4> Q,...,1.000000,0.000000,0.166667,0.166667,0.0,0.875000,1.333333,0.166667,0.0,1.0
5,6,alta,Alta: a detailed dreamer,1985?,en,Living next door to Loretta in an apartment - ...,"1FSA, 2ISA, 1FDA, 1IIC",HA 1FSA,D > 2IKA,NaN,...,0.000000,0.000000,0.000000,0.500000,0.0,1.000000,0.250000,0.000000,0.0,0.0
6,7,alta,Alta: a detailed dreamer,1985?,en,Kidnapped - I'm on my way somewhere else (by c...,"2ISA, 2IOA, 1IOA, 1ISA, 2IKA, 2ISA, 2ISA","AN 1ISA, AN D, SD 2ISA, AN D","Q > 2IKA, D > 2ISA, D > Q, 2IKA > D, D > Q, 1I...",NaN,...,0.000000,0.000000,0.142857,0.000000,0.0,1.000000,1.571429,0.000000,0.0,1.0
7,8,alta,Alta: a detailed dreamer,1985?,en,"I'm alone in an apartment - old place, inside ...","2ISA, 1ISA, 1ISA","AP D, SD D","D > D, 1MSA > D, 1MSA > D, D > 1MSA, D > D, D ...",D 4> D,...,0.000000,0.000000,0.000000,0.000000,0.0,0.888889,2.666667,0.333333,0.0,1.0
8,9,alta,Alta: a detailed dreamer,1985?,en,I'm somewhere with a friend I don't want to be...,"1IKA, stepfather, 1ISB, 1MSA",NaN,D > Q,NaN,...,1.000000,0.000000,0.250000,0.000000,0.0,1.000000,0.250000,0.000000,0.0,0.0
9,10,alta,Alta: a detailed dreamer,1985?,en,"I am in some public place, reminds me of the g...","2ISA, 1MKA",NaN,NaN,NaN,...,1.000000,0.000000,0.500000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0

In [15]:
#Add an additional column 'Gender' for the gender of the dreamser, place it in index 2
dreams.insert(2, 'gender', 'n/a', allow_duplicates=True)
dreams.head(5)

,dream_id,dreamer,gender,gender,description,dream_date,dream_language,text_dream,characters_code,emotions_code,...,Male,Animal,Friends,Family,Dead&Imaginary,Aggression/Friendliness,A/CIndex,F/CIndex,S/CIndex,NegativeEmotions
0,1,alta,n/a,True,Alta: a detailed dreamer,1957,en,"The one at the Meads's house, where it's bigge...","2ISA, 1MKA, 1FDA, 1IOA, 2ISA",NaN,...,0.500000,0.000000,0.200000,0.200000,0.0,0.000,0.200000,0.200000,0.0,0.0
1,2,alta,n/a,True,Alta: a detailed dreamer,8/11/1967,en,I'm at a family reunion in a large fine house ...,"2ISA, people, 2ISA",SD 2IKA,...,0.000000,0.000000,0.000000,0.000000,0.0,1.000,0.666667,0.000000,0.0,1.0
2,3,alta,n/a,True,Alta: a detailed dreamer,8/1/1985,en,I watch a plane fly past and shortly realize i...,"2ISA, 2ISA, 1FSA, 1MBA, 1IOA, 2ISA, 2FDA","SD 1ISA, AP D, AP D",...,0.333333,0.000000,0.000000,0.285714,0.0,1.000,0.428571,0.000000,0.0,1.0
3,4,alta,n/a,True,Alta: a detailed dreamer,1985?,en,Me pulling the green leaves and berries off so...,"1MAA, 1FMA, 2ISA, 2IKA, 1ANI, 1ANI, 1IOA, 2ISA...","SD 2ISA, SD D",...,0.666667,0.176471,0.142857,0.142857,0.0,1.000,0.235294,0.117647,0.0,1.0
4,5,alta,n/a,True,Alta: a detailed dreamer,1985?,en,I'm in a room that reminds me of (but definite...,"1IRA, 1MSA, 1ISA, 2ISA, 1ISA, 1IKA","AP D, AP D, AP 1MSA, CO D, SD D, AP D",...,1.000000,0.000000,0.166667,0.166667,0.0,0.875,1.333333,0.166667,0.0,1.0

In [4]:
#Split train & test set with 80:20 ratio 

#X = df.iloc[:, :-1]
#y = df.iloc[:, -1]

#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [5]:
#Remove unnecessary columns
#dreams.drop('dreams_language', axis=1, inplace=True)
#dreams.head(10)

In [6]:
dreams.isna().sum()

 dream_id                      0
dreamer                        0
description                    0
dream_date                     0
dream_language                 0
text_dream                     0
characters_code              468
emotions_code               9914
aggression_code             5568
friendliness_code           9761
sexuality_code             14530
Male                           0
Animal                         0
Friends                        0
Family                         0
Dead&Imaginary                 0
Aggression/Friendliness        0
A/CIndex                       0
F/CIndex                       0
S/CIndex                       0
NegativeEmotions               0
dtype: int64

In [17]:
print(dreams.Male.min(), dreams.Male.max())
print(dreams.Animal.min(), dreams.Animal.max())
print(dreams.Friends.min(), dreams.Friends.max())
print(dreams.Family.min(), dreams.Family.max())
print(dreams['Dead&Imaginary'].min(), dreams['Dead&Imaginary'].max())
print(dreams['Aggression/Friendliness'].min(), dreams['Aggression/Friendliness'].max())
print(dreams['A/CIndex'].min(), dreams['A/CIndex'].max())
print(dreams['F/CIndex'].min(), dreams['F/CIndex'].max())
print(dreams['S/CIndex'].min(), dreams['S/CIndex'].max())
print(dreams.NegativeEmotions.min(), dreams.NegativeEmotions.max())

0.0 1.0
0.0 1.0
0.0 1.0
0.0 1.0
0.0 1.0
0.0 1.0
0.0 10.0
0.0 11.0
0.0 8.0
0.0 1.0

In [43]:
print(np.where(dreams['A/CIndex'] > 1.0))
dreams.query('`A/CIndex` > 1.0')

(array([    4,     6,     7, ..., 20987, 20993, 20998], dtype=int64),)

,dream_id,dreamer,description,dream_date,dream_language,text_dream,characters_code,emotions_code,aggression_code,friendliness_code,...,Male,Animal,Friends,Family,Dead&Imaginary,Aggression/Friendliness,A/CIndex,F/CIndex,S/CIndex,NegativeEmotions
4,5,alta,Alta: a detailed dreamer,1985?,en,I'm in a room that reminds me of (but definite...,"1IRA, 1MSA, 1ISA, 2ISA, 1ISA, 1IKA","AP D, AP D, AP 1MSA, CO D, SD D, AP D","1MSA > D, Q > Q, D > 2IKA, D > 2IKA, D > 1MSA,...",D 4> Q,...,1.0,0.000,0.166667,0.166667,0.0,0.875000,1.333333,0.166667,0.000000,1.0
6,7,alta,Alta: a detailed dreamer,1985?,en,Kidnapped - I'm on my way somewhere else (by c...,"2ISA, 2IOA, 1IOA, 1ISA, 2IKA, 2ISA, 2ISA","AN 1ISA, AN D, SD 2ISA, AN D","Q > 2IKA, D > 2ISA, D > Q, 2IKA > D, D > Q, 1I...",NaN,...,0.0,0.000,0.142857,0.000000,0.0,1.000000,1.571429,0.000000,0.000000,1.0
7,8,alta,Alta: a detailed dreamer,1985?,en,"I'm alone in an apartment - old place, inside ...","2ISA, 1ISA, 1ISA","AP D, SD D","D > D, 1MSA > D, 1MSA > D, D > 1MSA, D > D, D ...",D 4> D,...,0.0,0.000,0.000000,0.000000,0.0,0.888889,2.666667,0.333333,0.000000,1.0
20,21,alta,Alta: a detailed dreamer,1/18/1986,en,I'm on a footbridge with some friends and ther...,"2IKA, 1ISB",NaN,"D > 2IKA, 2ISA > Q, 2ISA > Q",D 4> D,...,0.0,0.000,0.500000,0.000000,0.0,0.500000,1.500000,0.500000,0.000000,0.0
21,22,alta,Alta: a detailed dreamer,1/19/1986,en,At work (?) was on the elevator with an older ...,"1FDA, 2ANI, 1ISA, 2ISA, 1FSA","CO 1FSA, HA 1IKA","1FSA > 1FSA, 1FSA > D, D > Q, 2ISA > Q, 2ISA >...",NaN,...,0.0,0.200,0.000000,0.250000,0.0,1.000000,1.400000,0.000000,0.000000,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20955,33022,west_coast_teens,West Coast teenage girls,"F, age 15",en,Last night I had a dream about tornadoes. It w...,"1MKA, 2ISA",NaN,"Q > Q, D > Q, D > D, D > Q",D 4> Q,...,1.0,0.000,0.500000,0.000000,0.0,0.750000,2.000000,0.500000,0.500000,0.0
20956,33023,west_coast_teens,West Coast teenage girls,"F, age 15",en,There is a boy that is very close to me. I lov...,"1MAA, 1MKA, 2IKA",NaN,"D > 1MSA, 1MSA > D, D > 1MSA, D > Q","D 4> him, 2ISA 4> D",...,1.0,0.000,0.666667,0.333333,0.0,0.666667,1.333333,0.666667,0.333333,0.0
20987,33054,west_coast_teens,West Coast teenage girls,"F, age 17",en,I was driving a Datsun blue truck. Me and my f...,"1IKA, 1MSA, 1ISA, 1ISA, 1ISB, lion, 1IOA, 1ANI","AP 2ISA, SD 1MSA, AP D","D > 1IKB, It PRP >, Q > 1ANI, D > 1ANI, D > 1A...",1IKA 4> 1IKB,...,1.0,0.125,0.142857,0.000000,0.0,1.000000,1.250000,0.125000,0.000000,1.0
20993,33060,west_coast_teens,West Coast teenage girls,"F, age 18",en,I was being chased by two people. It was a man...,"2ISA, woman",AP 1MSA,"D > 2IKA, 2ISA > D, D > Q, 1MKA > Q, D > 1MSA",NaN,...,0.0,0.000,0.000000,0.000000,0.0,1.000000,2.500000,0.000000,0.000000,1.0
20998,33065,west_coast_teens,West Coast teenage girls,"F, age 18",en,I was in my backyard and I was flying. I would...,1ANI,AN 1ISA,"1ANI > D, 1ANI > Q, 1ISA 1> Q",NaN,...,0.0,1.000,0.000000,0.000000,0.0,1.000000,3.000000,0.000000,0.000000,1.0

In [44]:
print(np.where(dreams['F/CIndex'] > 1.0))
dreams.query('`F/CIndex` > 1.0')

(array([   93,   305,   352,   395,   431,   446,   582,   608,   660,
         675,   688,   706,   708,   736,   753,   758,   766,   774,
         785,   794,   801,   802,   804,   813,   818,   835,   867,
         893,   896,   927,   935,   945,   960,  1002,  1017,  1041,
        1076,  1078,  1097,  1113,  1116,  1119,  1125,  1137,  1162,
        1199,  1209,  1211,  1216,  1239,  1244,  1283,  1303,  1336,
        1343,  1368,  1369,  1397,  1410,  1416,  1422,  1433,  1465,
        1466,  1474,  1482,  1489,  1492,  1502,  1556,  1563,  1606,
        1607,  1613,  1623,  1645,  1646,  1648,  1677,  1678,  1709,
        1711,  1720,  1734,  1743,  1754,  1755,  1805,  1820,  1862,
        1866,  1875,  1884,  1898,  1899,  1905,  1921,  1950,  1959,
        1960,  1987,  2025,  2029,  2034,  2048,  2061,  2062,  2077,
        2088,  2104,  2120,  2126,  2133,  2141,  2153,  2167,  2199,
        2200,  2205,  2214,  2231,  2242,  2253,  2266,  2282,  2295,
        2308,  2309,  2320,  2331,  2342,  2361,  2365,  2391,  2397,
        2415,  2418,  2419,  2445,  2457,  2497,  2503,  2514,  2516,
        2532,  2541,  2547,  2549,  2557,  2560,  2561,  2567,  2573,
        2584,  2603,  2605,  2618,  2619,  2623,  2632,  2641,  2657,
        2685,  2691,  2721,  2723,  2734,  2742,  2756,  2760,  2765,
        2769,  2778,  2785,  2788,  2802,  2831,  2838,  2856,  2859,
        2865,  2866,  2871,  2876,  2880,  2881,  2885,  2894,  2897,
        2902,  2907,  2908,  2922,  2927,  2931,  2942,  2954,  2962,
        2988,  2992,  2995,  2998,  3012,  3017,  3030,  3033,  3035,
        3050,  3071,  3079,  3082,  3101,  3125,  3128,  3147,  3154,
        3163,  3167,  3190,  3202,  3225,  3230,  3235,  3240,  3245,
        3265,  3288,  3298,  3304,  3305,  3308,  3309,  3312,  3325,
        3358,  3364,  3376,  3380,  3390,  3412,  3424,  3439,  3467,
        3479,  3480,  3482,  3485,  3503,  3507,  3526,  3532,  3543,
        3562,  3567,  3569,  3574,  3581,  3597,  3611,  3616,  3618,
        3629,  3635,  3659,  3666,  3672,  3674,  3676,  3683,  3685,
        3697,  3729,  3731,  3750,  3755,  3765,  3768,  3777,  3788,
        3794,  3804,  3815,  3819,  3842,  3845,  3847,  3858,  3864,
        3873,  3875,  3885,  3887,  3916,  3923,  3928,  3936,  3954,
        3955,  3965,  3969,  3985,  4004,  4008,  4010,  4017,  4025,
        4046,  4054,  4089,  4096,  4107,  4131,  4137,  4150,  4159,
        4163,  4200,  4218,  4230,  4231,  4248,  4270,  4285,  4310,
        4313,  4318,  4364,  4385,  4426,  4614,  4636,  4727,  4763,
        4792,  4795,  4804,  4876,  4884,  4904,  4954,  4967,  5083,
        5121,  5125,  5142,  5190,  5236,  5281,  5315,  5384,  5427,
        5459,  5482,  5599,  5602,  5614,  5656,  5664,  5752,  5810,
        5814,  5879,  5891,  5984,  6070,  6109,  6142,  6143,  6145,
        6151,  6159,  6167,  6169,  6177,  6178,  6182,  6185,  6188,
        6202,  6209,  6216,  6217,  6218,  6219,  6222,  6223,  6230,
        6231,  6236,  6244,  6252,  6254,  6260,  6261,  6264,  6272,
        6273,  6283,  6285,  6319,  6336,  6358,  6368,  6383,  6393,
        6404,  6435,  6455,  6463,  6487,  6498,  6561,  6611,  6616,
        6627,  6652,  6674,  6679,  6685,  6735,  6747,  6755,  6764,
        6768,  6784,  6787,  6800,  6808,  6836,  6871,  6879,  6884,
        6892,  6953,  6962,  6999,  7044,  7055,  7062,  7069,  7070,
        7073,  7074,  7075,  7090,  7100,  7121,  7141,  7151,  7165,
        7176,  7183,  7188,  7189,  7195,  7211,  7217,  7224,  7267,
        7278,  7300,  7355,  7403,  7415,  7427,  7429,  7439,  7452,
        7465,  7471,  7479,  7481,  7486,  7490,  7527,  7529,  7542,
        7581,  7620,  7640,  7688,  7703,  7755,  7780,  7829,  7923,
        7940,  7960,  8028,  8037,  8044,  8048,  8049,  8075,  8115,
        8137,  8139,  8190,  8323,  8404,  8554,  8562,  8563,  8628,
        8632,  8668,  8677,  8684,  8720,  8750,  8781,  8811,  8841,
        8856,  8876,  8882,  8902,  8908,  8913,  8914,  8938,  8939,
        8949,  9020,  9021,  9029,  9060,  9089,  9113,  9150,  9163,
        9184,  9185,  9187,  9208,  9298,  9698, 10176, 10271, 11065,
       11133, 11612, 11806, 11841, 11931, 11951, 11976, 11979, 12069,
       12147, 12169, 12179, 12261, 12346, 12426, 12438, 12511, 12536,
       12566, 12583, 12594, 12611, 12632, 12639, 12641, 12646, 12690,
       12696, 12725, 12735, 12739, 12818, 12861, 12895, 12897, 12920,
       12924, 12929, 12939, 12941, 12948, 13063, 13066, 13070, 13170,
       13311, 13408, 13424, 13941, 14145, 14194, 14274, 14306, 14588,
       14637, 14689, 14721, 14783, 14797, 14840, 14847, 14854, 14917,
       14938, 14945, 15017, 15037, 15083, 15093, 15163, 15219, 15294,
       15414, 15508, 15510, 15584, 15657, 15737, 15766, 15849, 15876,
       15971, 16209, 16226, 16306, 16311, 16392, 16407, 16416, 16422,
       16496, 16503, 16540, 16620, 16668, 16862, 16872, 16907, 16972,
       16982, 17062, 17152, 17210, 17252, 17292, 17391, 17554, 17617,
       17697, 17727, 17731, 17774, 17804, 17805, 17885, 17922, 17939,
       17969, 17987, 18017, 18035, 18074, 18106, 18137, 18192, 18236,
       18322, 18329, 18332, 18336, 18350, 18452, 18454, 18672, 18915,
       18993, 19079, 19080, 19121, 19261, 19328, 19340, 19341, 19359,
       19360, 19368, 19370, 19375, 19394, 19461, 19464, 19539, 19554,
       19581, 19596, 19620, 19627, 19702, 19706, 19728, 19738, 19792,
       19793, 19797, 19810, 19811, 19864, 19888, 19897, 19924, 19925,
       19935, 20083, 20104, 20175, 20216, 20235, 20283, 20453, 20460,
       20548, 20559, 20561, 20611, 20635, 20638, 20639, 20674, 20694,
       20718, 20837, 20868, 20880, 20882, 20883, 20884, 20885, 20886,
       20887, 20888, 20901, 20906, 20911, 20912, 20913, 20915, 20917,
       20947, 20969, 20978], dtype=int64),)

,dream_id,dreamer,description,dream_date,dream_language,text_dream,characters_code,emotions_code,aggression_code,friendliness_code,...,Male,Animal,Friends,Family,Dead&Imaginary,Aggression/Friendliness,A/CIndex,F/CIndex,S/CIndex,NegativeEmotions
93,95,alta,Alta: a detailed dreamer,5/22/1986,en,"I've just come back to the ""library"" from bein...",1MSA,NaN,1FSA > D,"D 4> Q, D 4> 2ISA",...,1.000000,0.000000,0.000000,0.000000,0.0,0.333333,1.000000,2.000000,0.000000,0.000000
305,311,alta,Alta: a detailed dreamer,2/17/1991,en,I'm in a theater where a rock band is about to...,"2ISA, 2IKA, 2FSA, 1ISA","AP 2ISA, HA D",D > 1FSA,"D 4> Q, D 4> Q, 2IKA 4> we, Q 4> D, D 4> Q",...,0.000000,0.000000,0.250000,0.000000,0.0,0.200000,0.250000,1.250000,0.000000,0.500000
352,358,alta,Alta: a detailed dreamer,12/15/1991,en,I've just gotten married to this wonderful guy...,"1ISA, 2ISA, 1FSA, 1IKA, 1MHA, 1MKA, 2ISA, 2ISA...","HA 1MSA, AP D, HA D, HA 2ISA, AP 1MSA, CO 1MSA","1MSA > D, D > Q, D > 1MKA, D > D, D > 1MSA, D ...","D 4> 1IKA, 1IKA 4> 1FSA, 1FSA 4> D, D 4> Q, D ...",...,0.666667,0.000000,0.222222,0.111111,0.0,0.461538,0.666667,1.111111,0.444444,0.500000
395,401,alta,Alta: a detailed dreamer,8/2/1992,en,"I am playing (sort of) with a Komodo dragon, a...",baby,"HA 1ISA, AP D, AP D","you PRP >, you PRP >, 2ISA > their, their PRP ...","D 4> 1ANI, you PRP 4>",...,0.000000,0.000000,0.000000,0.000000,0.0,0.750000,8.000000,2.000000,1.000000,0.666667
431,439,angie,Angie: age 18 & 20,5/9/1996,en,"I was in a place that I didn't recognize, but ...","1ISA, people, 1ISA, 1IFA",CO D,NaN,"1FSA 4> you, D 4> D, 2IKA 4> D, 1FSA 4> D, 1MS...",...,0.000000,0.000000,0.000000,0.250000,0.0,0.000000,0.000000,1.250000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20915,32975,wedding,Wedding dreams,1995,en,I was to be married to some unknown man. We we...,"1MKA, 2ANI, 1ISA",NaN,NaN,"D 4> 1MKA, 1MKA 4> him, D 4> him, D 4> Q",...,1.000000,0.333333,0.500000,0.000000,0.0,0.000000,0.000000,1.333333,0.000000,0.000000
20917,32977,wedding,Wedding dreams,1995,en,"In all my wedding dreams, I'm getting married ...","2ISA, guy",CO D,D > PRP,"Q 4> D, D 4> Q, D 4> PRP, him PRP 4>, 1MSA 4> we",...,0.000000,0.000000,0.000000,0.000000,0.0,0.250000,0.500000,2.500000,0.000000,1.000000
20947,33013,west_coast_teens,West Coast teenage girls,"F, age 14",en,In the dream I was at the portables where math...,2ISA,NaN,D > Q,"D 4> D, D 4> Q, D 4> Q, D 4> Q",...,0.000000,0.000000,0.000000,0.000000,0.0,0.200000,1.000000,4.000000,1.000000,0.000000
20969,33036,west_coast_teens,West Coast teenage girls,"F, age 16",en,"I had a dream that I was at the R.E.M, concert...",1FSA,NaN,NaN,"1MSA 4> Q, 1MSA 4> Q",...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,2.000000,0.000000,0.000000
20978,33045,west_coast_teens,West Coast teenage girls,"F, age 17",en,It was a dream where I was at a pizza place an...,"guy, 1MAA",NaN,NaN,"1IKA 4> D, D 4> him, 2IKA 4> 1MAA",...,1.000000,0.000000,0.000000,0.500000,0.0,0.000000,0.000000,1.500000,2.000000,0.000000

In [45]:
print(np.where(dreams['S/CIndex'] > 1.0))
dreams.query('`S/CIndex` > 1.0')

(array([  736,   753,   758,   761,   785,   799,   813,   893,  1017,
        1113,  1125,  1162,  1175,  1209,  1239,  1244,  1336,  1340,
        1343,  1414,  1465,  1482,  1502,  1628,  1674,  1755,  1898,
        1899,  2029,  2048,  2120,  2141,  2153,  2204,  2242,  2282,
        2287,  2301,  2308,  2342,  2485,  2497,  2503,  2510,  2556,
        2561,  2605,  2618,  2632,  2657,  2685,  2831,  2838,  2840,
        2855,  2856,  2866,  2870,  2880,  2902,  2903,  2942,  2962,
        2998,  3021,  3145,  3147,  3180,  3190,  3225,  3230,  3236,
        3245,  3265,  3298,  3308,  3390,  3485,  3506,  3507,  3526,
        3567,  3570,  3594,  3618,  3629,  3666,  3672,  3674,  3697,
        3721,  3777,  3794,  3815,  3821,  3858,  3860,  3862,  3864,
        3885,  3916,  3920,  3928,  3955,  3979,  4010,  4051,  4089,
        4163,  4168,  4187,  4200,  4218,  4230,  4264,  4285,  4364,
        4564,  4760,  4808,  5074,  5097,  5115,  5141,  5142,  5157,
        5281,  5535,  5698,  5811,  5931,  6142,  6143,  6159,  6167,
        6169,  6177,  6197,  6202,  6217,  6218,  6252,  6254,  6261,
        6272,  6283,  6368,  6393,  6455,  6616,  6784,  7284,  7452,
        7457,  7486,  7519,  7620,  7717,  7902,  8450,  8545,  8556,
        8876,  8938,  9009,  9698,  9801, 10124, 10720, 11044, 11744,
       11963, 11976, 11988, 12060, 12069, 12179, 12180, 12204, 12244,
       12261, 12329, 12373, 12639, 12690, 12966, 13003, 13063, 13066,
       13103, 13174, 13224, 13326, 13339, 13463, 13702, 13740, 13809,
       13838, 13864, 13921, 13941, 13948, 14039, 14048, 14072, 14082,
       14162, 14163, 14246, 14248, 14257, 14274, 14279, 14326, 14327,
       14360, 14368, 14434, 14499, 14509, 14513, 14592, 14611, 14629,
       14656, 14665, 14689, 14726, 14771, 15508, 15550, 15620, 16422,
       16690, 16749, 17062, 17083, 17261, 17352, 17391, 17543, 17658,
       17680, 17987, 18017, 18046, 18137, 18336, 18364, 18369, 18452,
       18466, 19079, 19138, 19340, 19539, 19702, 19706, 19738, 19770,
       19774, 19793, 19904, 19911, 19922, 20093, 20638, 20674, 20946,
       20978], dtype=int64),)

,dream_id,dreamer,description,dream_date,dream_language,text_dream,characters_code,emotions_code,aggression_code,friendliness_code,...,Male,Animal,Friends,Family,Dead&Imaginary,Aggression/Friendliness,A/CIndex,F/CIndex,S/CIndex,NegativeEmotions
736,781,b,Barb Sanders,12/26/1988,en,I am swimming with a group of people in a swim...,"2ISA, 1MKA",AN D,"1MSA > D, D 1> Q","1MSA 4> D, D 4> him, D 4> him",...,1.0,0.0,0.500,0.000,0.0,0.400000,1.00,1.500000,2.000000,1.000000
753,798,b,Barb Sanders,5/13/1989,en,"Someone looked at my hair and said, ""Do you li...",1ISA,CO 1ISA,NaN,"D 4> Q, it PRP 4>, D 4> D",...,0.0,0.0,0.000,0.000,0.0,0.000000,0.00,3.000000,2.000000,1.000000
758,803,b,Barb Sanders,6/15/1989,en,"I am sexually excited and want to make love, b...",1MSA,"HA D, AP D",NaN,"D 4> Q, D 4> him, D 4> D",...,1.0,0.0,0.000,0.000,0.0,0.000000,0.00,3.000000,4.000000,0.500000
761,806,b,Barb Sanders,6/22/1989,en,I go through a huge store to the back room. I'...,"1MKA, 1ISA, 1IOA, 2ISA","AP 1MSA, AN D, SD 1MSA, HA 2ISA","D > Q, D > D, 1MSA > D, 2IKA > Q, D 1> Q","1MSA 4> D, 1MSA 4> D, D 4> 1IKA",...,1.0,0.0,0.250,0.000,0.0,0.571429,1.25,0.750000,1.250000,0.750000
785,830,b,Barb Sanders,9/25/1990,en,Howard wants to make love to me. I am paralyze...,1MSA,AP D,NaN,"1MKA 4> D, D 4> Q, D 4> him",...,1.0,0.0,0.000,0.000,0.0,0.000000,0.00,3.000000,4.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20093,25964,phil2,Phil 2: late 20s,3/2/1971,en,My wife Bonita and I were in a place like Shak...,"1FWA, 2ISA, 1ISA, 2ISA, 2ISA, 2MKA, girl, 1ISA","CO 1FSA, SD D","Q > Q, 1FSA > Q, 1FSA > Q, D > 1FSA, D > D, 1F...","2ISA 4> Q, 1FKA 4> Q, 1FSA 4> Q",...,0.5,0.0,0.125,0.125,0.0,1.000000,0.75,0.375000,1.375000,1.000000
20638,26567,tom,Tom: An outgoing man,?,en,I am at work and I am talking to two of the wa...,2FSA,"HA D, AP 2IKA, HA D",2ISA > Q,"D 4> Q, D 4> 2ISA, 2ISA 4> D",...,0.0,0.0,0.000,0.000,0.0,0.000000,1.00,3.000000,2.000000,0.333333
20674,26603,ucsc_women,"UCSC women, 1996",20/female,en,A big 4x4 truck was chasing after me on freewa...,"1ISA, 2ISA, 1IOA",NaN,"Q > D, D > Q, D > D","D 4> D, 1IOA 4> D, 1MSA 4> D, 1MSA 4> D",...,0.0,0.0,0.000,0.000,0.0,0.428571,1.00,1.333333,1.333333,0.000000
20946,33012,west_coast_teens,West Coast teenage girls,"F, age 14",en,In this dream I was walking around down all by...,1ISA,AP D,"1MSA > D, 1MSA > Q, D > D, D > Q",NaN,...,0.0,0.0,0.000,0.000,0.0,1.000000,4.00,0.000000,2.000000,1.000000
20978,33045,west_coast_teens,West Coast teenage girls,"F, age 17",en,It was a dream where I was at a pizza place an...,"guy, 1MAA",NaN,NaN,"1IKA 4> D, D 4> him, 2IKA 4> 1MAA",...,1.0,0.0,0.000,0.500,0.0,0.000000,0.00,1.500000,2.000000,0.000000